<div class="card-body">
    <h1 class="text-center mb-4"><%= t('grades.new_grades')%></h1>
    <%= render "form", grade: @grade %>
    <%= link_to t('common.back'), grades_path, class: 'btn btn-secondary mt-3' %>
</div>
