<h1>Grade</h1>

<% if @grade && @grade.subject && @grade.subject.record_books.any? %>
  <p>
    Student: <%= @grade.subject.record_books.first.user.first_name %> 
  </p>
<% end %>

<p>Grade: <%= @grade.grade %></p>

<% if @grade %>
  <%= link_to 'Edit', edit_grade_path(@grade), class: 'btn btn-default' %>
  <%= link_to 'Back', grades_path, class: 'btn btn-secondary' %>
<% end %>

