<% if @semester.present? %>
  <h1>Semester Details</h1>
  <p>Name: <%= @semester.name %></p>
  <p>Start Date: <%= @semester.start_date %></p>
  <p>End Date: <%= @semester.end_date %></p>

<% else %>
  <p>No semester found.</p>
<% end %>

<%= link_to 'Back', semesters_path %>
