<h1>User#registration_confirmation</h1>

<h1>
    Welcome, <%= @user.first_name %> <%= @user.last_name %>!
</h1>
<p>Thank you for signing up for our app.</p>

<p>
  <%= @greeting %>, find me in app/views/user_mailer/registration_confirmation.html.erb
</p>
