<h1>Редактирование студента</h1>

<%= render 'form', student: @student %> 

<%= link_to 'Просмотреть', @student, class: 'btn btn-light' %>
<%= link_to 'Назад', students_path, class: 'btn btn-light' %> 