<h1 class="text-center mb-4">Specializations</h1>

<div class="container">
  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @specializations.each do |specialization| %>
        <tr>
          <td><%= link_to specialization.name, specialization_path(specialization) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
