<h1><%= @specialization.name %></h1>

<% if @specialization.groups.any? %>
  <h2>Groups:</h2>
  <ul>
    <% @specialization.groups.each do |group| %>
      <li><%= link_to group.name, group_path(group) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no groups for this specialization yet.</p>
<% end %>

<%= link_to 'Back', specializations_path %></p>
