      <div id="notifications">
        <%  @notificationsUser.each do |notification| %>
          <div class="<%= 'read' if notification.status %>">
            <%= Notification.find(notification.notification_id).message %>
            <%= check_box_tag 'status', notification.id, notification.status, class: 'notification-checkbox' %>
          </div>
        <% end %>
      </div>