<% if @subjects.present? %>
<h1>Subjects</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.name %></td>
        <td>
          <%= link_to 'Show', subject, class: 'btn btn-sm btn-info' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>No subjects found.</p>
<% end %>
