<h1>Редактирование ведомости</h1>

<%= render 'form', record_book: @record_book %> 

<%= link_to 'Показать', @record_book, class: 'btn btn-light' %>
<%= link_to 'Назад', record_books_path, class: 'btn btn-light' %>