Record Books

<% if @record_books.present? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Student</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @record_books.each do |record_book| %>
        <tr>
          <td><%= record_book.user.name %></td>
          <td>
            <%= link_to 'Show', record_book_path(record_book), class: 'btn btn-sm btn-outline-primary' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No record books found.</p>
<% end %>
